body {
    background: linear-gradient(90deg, #000, #3e3a3a);
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.borda {
    width: 20rem;
    height: 20rem;
    margin-left: 33.5rem;
    margin-top: 4rem;
    border: solid #fff;
    border-radius: 14rem;
}

#time {
    margin-top: 8.5rem;
    font-family: monospace;
    font-size: 3rem;
}

button {
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    background: linear-gradient(10deg, #b6b1b1, #000);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    cursor: pointer;
}